
body {
	background: #fff; 
	font-family: "Helvetica neue", Helvetica, Arial, sans-serif; 
	font-weight: 200;
	text-align: justify;
	color: #000;
}

h1 {
	font-weight: 100;
	font-size: 70px;
	text-align: center;
	padding-bottom: 1em;
}

h2 {
	font-weight: 200;
	text-transform: uppercase;
	padding-bottom: 1em;
	text-align: center;
}

h3 {
	font-weight: 200;
	text-transform: uppercase;
	padding-bottom: 1em;
}

p {
	line-height: 1.3em;
}


.splash { 
	background: url("../images/qasralsarab.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    text-align: center;
	vertical-align: middle;
	padding: 3em 5em 20em 5em;
}

#slogan {
	font-weight: 200;
	text-align: center;
	padding-bottom: 10em;
}

#about {
	padding: 20px;
}

#left {
	padding: 20px;
	float: left;
	width:30%;
}

#right {
	padding: 20px;
	float: right;
	width: 62%;
}

#galleries {
	display: block;
	float:left;
	padding: 10em 0em 10em 0em;
	font-size: bold;
	width: 100%;
}

#travel {
	background-size: cover;
	width: 30%;
	height: auto;
	background-repeat: no-repeat;
	float: left;
	padding: 1em;
}

#family {
	background-size: cover;
	width: 30%;
	height: auto;
	background-repeat: no-repeat;
	float: left;
	padding: 1em;
}

#lifestyle {
	background-size: cover;
	width: 30%;
	height: auto;
	background-repeat: no-repeat;
	float: left;
	padding: 1em;
}

#travel_title {
	position: relative;
	top:100px;
	left: 45%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.wrapper {
	background-color: white;
	margin: 0;
}

ul{
	list-style: none;
}

header {

}

nav {
	
}

a {
	text-decoration: none;
}

article {

    padding: 20px;
}

footer {
    padding: 20px;
}

div {
    padding: 20px;
}

section {
    padding: 20px;
	} 

img {
	width:100%;
}
